nav{
  width: 99%;
  background: #000;
  height: 80px;
  display: flex;
  flex-direction: row;
  margin:0;
  justify-content:space-between;
  padding:0 20px ;
}
ul{
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-between;
}